{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}
  <main>
    <h1 class="text-body-emphasis">Fale Conosco</h1>
    <p>
      Envie uma mensagem através do forms ou ligue no telefone {{telefone}} e fale com {{responsavel|upper}}
    </p>
    {% if sucesso %}
    <p class="alert alert-success"> Mensagem Enviada com sucesso !</p>
    {% else %}

    <form action="" method="POST" id="form" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    </form>
    {% endif %}
    <hr class="col-3 col-md-2 mb-5">
  </main>
{% endblock %} 